<div class="card bg-light">
  <div class="row">

    <div>
      <div class="card-body">
        <h2 class="card-title">
            <%= @kitten.name %>
        </h2>

        <ul class="list-group list-group-flush mr-4 ml-4">
          <li class="list-group-item"><%= @kitten.color %></li>
          <li class="list-group-item"><%= @kitten.sex ? "boy" : "girl" %></li>
          <li class="list-group-item"><%# @litter.dob %> days old</li>
          <li class="list-group-item">Fostered By: <%= @kitten.user.username %></li>
        </ul>

        <div class="text-center m-4">
          <h4 class="litter-name"><%= link_to "#{@kitten.litter.name}", litter_path(@litter.id) %></h4>

        </div>
      </div>

    </div>
  </div>

  <%= link_to "Back", litter_path(@litter.id), class: "btn btn-outline-primary" %>
  <%# link_to "Edit", edit_litter_path, class: "btn btn-default" %>
  <%# link_to "Delete", litter_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
</div>
