<div class="card bg-light">
  <div class="row">

    <div class="col-lg-7">
      <%# raise @kitten.inspect %>
      <% if @kitten.image.present? %>
        <%= image_tag @kitten.image_url(:full).to_s, class: 'rounded m-2' %>
      <% end %>
    </div>

    <div class="col-lg-5">
      <div class="card-body">
        <h2 class="card-title <%= @kitten.sex ? "boy" : "girl" %>">
            <%= @kitten.name %>
        </h2>

        <ul class="list-group list-group-flush mr-4 ml-4">
          <li class="list-group-item"><%= @kitten.color %></li>
          <li class="list-group-item"><%= @kitten.sex ? "boy" : "girl" %></li>
          <li class="list-group-item"><%# @litter.dob  "days old" %></li>
          <li class="list-group-item">Fostered By: <%= @kitten.user.username %></li>
        </ul>

        <div class="text-center m-4">
          <h4 class="litter-name"><%= link_to "#{@kitten.litter.name}", litter_path(@litter.id) %></h4>

        </div>
      </div>

    </div>
  </div>

  <%= link_to "Back to #{@kitten.litter.name} Litter", litter_path(@litter), class: "btn btn-outline-primary" %>
  <%# link_to "Edit", edit_litter_path, class: "btn btn-default" %>
  <%# link_to "Delete", litter_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
</div>
