<!-- Modal -->
<%= link_to 'Add Litter', new_litter_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- End of Modal -->


<div class="pb-1 mt-5">
  <h1 class="display-3 text-muted">List of Litters</h1>
</div>

<% @litters.in_groups_of(3, false).each_with_index do |group, index| %>
  <div class="row">
    <% group.each do |litter| %>
      <div class="col-xs-12 col-md-4 mb-4">
        <div class="card border-custom">
          <div class="card-body">
            <h1 class="card-title">
              <%= link_to litter.name, litter_path(litter) %>
            </h1>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              From: <%= litter.start_date %> <br>
              To: <%= litter.end_date %>
            </li>
            <li class="list-group-item">
              <% if litter.end_date && litter.start_date %>
                <%= (litter.end_date - litter.start_date).to_i %> days
              <% end %>
            </li>
            <li class="list-group-item">
                <%= pluralize(litter.kittens.size, 'kitten') %>
            </li>
            <% if litter.with_mom %>
              <li class="list-group-item">
                Mom: <%= litter.mom_name %>
              </li>
            <% end %>
          </ul>
          <div class="card-body text-center">
            <%= link_to 'view', litter_path(litter), class: 'btn btn-outline-primary' %>
            <% if litter.users.first == current_user %>
              <%= link_to 'edit', edit_litter_path(litter), class: 'btn btn-outline-primary' %>
            <% end %>
            <div class='data-group' data-group-id=<%= index %>>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card border-custom toggle mb-4" style="display:none">

    <div class="insert-kittens">

    </div>
  </div>
<% end %>
