<div class="card border-custom">
  <div class="card-top p-4">
    <div class="row bottom-line">
      <div class="col-md-5 mb-4">
        <h1 class="display-3"><%= @litter.name %></h1>
      </div>

      <div class="col-md-7 mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-4">
                <h5 class="text-muted">From: </h5>
                <%= @litter.start_date %>
              </div>
              <div class="col-lg-4">
                <h5 class="text-muted">To: </h5>
                <%= @litter.end_date %>
              </div>
              <div class="col-lg-4">
                <h5 class="text-muted">Fostered: </h5>
                <%= (@litter.end_date - @litter.start_date).to_i %> days
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <%= pluralize(@litter.kittens.size, 'kitten') %>
          </li>
          <li class="list-group-item">
            <h6 class="text-muted">Fostered By:
              <span class="font-weight-normal d-inline-block mb-0.5 ml-1"><%= @litter.users.first.username %><span>
            </h6>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <% @kittens.in_groups_of(4, false).each do |group| %>
    <div class="row m-4">
      <% group.each do |kitten| %>
        <div class="col-xs-12 col-md-3 ">
          <div class="card bg-light <%= kitten.sex ? "border-boy" : "border-girl" %>">
            <%= image_tag kitten.image_url(:thumb).to_s, class: 'card-img-top' %>
            <div class="card-body">
              <h4 class="card-title">
                <% if kitten.sex %>
                  <%= link_to kitten.name, litter_kitten_path(@litter, kitten), class: 'boy' %>
                <% else %>
                  <%= link_to kitten.name, litter_kitten_path(@litter, kitten), class: 'girl' %>
                <% end %>
              </h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= kitten.color %></li>
              <li class="list-group-item"><%= kitten.sex ? "boy" : "girl" %></li>
            </ul>
            <div class="card-body text-center">
              <%= link_to 'view', litter_kitten_path(@litter, kitten), class: 'btn btn-outline-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Back to List of Litters", root_path, class: "btn btn-outline-primary" %>
  <% if @litter.users.first == current_user %>
    <%= link_to "Edit Litter", edit_litter_path, class: "btn btn-outline-primary" %>
    <%= link_to "Add kittens", new_litter_kitten_path(@litter), class: "btn btn-outline-primary" %>
    <%= link_to "Delete Litter", litter_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-primary" %>
  <% end %>
</div>
