<nav class="navbar navbar-dark navbar-expand-md navbar-color fixed-top">
  <%= link_to "Foster App", root_path, class: "navbar-brand pr-3" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto mt-2">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign in with Facebook", "/users/auth/facebook", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign in with Google", "/users/auth/google_oauth2", class: "nav-link" %>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "My Litters", my_litters_litters_path, class: "nav-item nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add Litter", new_litter_path, class: "nav-item nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>

</nav>
