<!DOCTYPE html>
<html>
  <head>
    <title>FosterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Custom styles -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">

  </head>

  <body id="bs-override" class="bg">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <div class="container mt-4">
      <%= yield %>
    </div>

  </body>
</html>
